@charset "UTF-8";

/* 回答はここに書いてね */

/* 共通スタイル */
.q4_contents {
  display: table;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

/* top_bar */
.contents_pink {
  display: table-cell;
  width: 100px;
  background-color: #fdc8b8;
  padding: 20px;
}

.contents_purple {
  display: table-cell;
  background-color: #e0abd9;
  padding: 20px;
}

.contents_blue {
  display: table-cell;
  width: 100px;
  background-color: #b6d8ed;
  padding: 20px;
}

/* bottom_bar */
.q4_contents:last-child {
  padding-top: 0;
}

.contents_yellow {
  display: table-cell;
  background-color: #e5d32e;
  padding: 20px;
}

.contents_red {
  display: table-cell;
  background-color: #ec8f9a;
  padding: 20px;
}

.contents_green {
  display: table-cell;
  width: 500px;
  background-color: #8fdcad;
  padding: 20px;
}
/* 回答はここに書いてね */
