@charset "UTF-8";

/* 回答はここに書いてね */

.q5_wrapper {
  position: relative;
  background-color: #ecf1f2;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  font-weight: bold;
}

.number_common {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  text-align: center;
}

.number_1 {
  left: 200px;
  top: 40px;
  z-index: 1;
  background-color: #ffefd3;
}

.number_2 {
  left: 280px;
  top: 120px;
  z-index: 2;
  background-color: #7084de;
}

.number_3 {
  left: 360px;
  top: 200px;
  z-index: 3;
  background-color: #d0ecea;
}

.number_4 {
  left: 280px;
  top: 280px;
  z-index: 4;
  background-color: #8b7a5e;
}

.number_5 {
  left: 200px;
  top: 360px;
  z-index: 5;
  background-color: #9fd6d2;
}

.number_6 {
  left: 120px;
  top: 280px;
  z-index: 6;
  background-color: #fffde4;
}

.number_7 {
  left: 40px;
  top: 200px;
  z-index: 7;
  background-color: #deae70;
}

.number_8 {
  left: 120px;
  top: 120px;
  z-index: 8;
  background-color: #de70cf;
}

.number_8::after {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 80px;
  background-color: #ffefd3;
  content: "";
}

.number_9 {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9;
  background-color: #2b69a3;
}
/* 回答はここに書いてね */
