@charset "UTF-8";

/* 回答はここに書いてね */

.menu {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.menu_data {
  font-size: 16px;
  line-height: 22px;
  border: 1px solid #dedede;
  padding: 10px;
  vertical-align: middle;
}

.menu_title {
  padding: 10px;
  border: 1px solid #dedede;
  color: #ffffff;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
}

.menu_list:last-child {
  border-top: dashed #000 2px;
}

.menu_list:nth-child(2n-1) {
  background-color: #ecf1f2;
}

/* 回答はここに書いてね */
